src/java/UserService.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions targetNamespace="urn:com.idega.block.process.webservice" xmlns:impl="urn:com.idega.block.process.webservice" xmlns:intf="urn:com.idega.block.process.webservice" xmlns:apachesoap="http://xml.apache.org/xml-soap" xmlns:wsdlsoap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
<!--WSDL created by Apache Axis version: 1.3
Built on Oct 05, 2005 (05:23:37 EDT)-->
 <wsdl:types>
  <schema xmlns="http://www.w3.org/2001/XMLSchema" targetNamespace="urn:com.idega.block.process.webservice">
   <import namespace="http://schemas.xmlsoap.org/soap/encoding/"/>
   <complexType name="AddressInfo">
    <sequence>
     <element name="city" nillable="true" type="soapenc:string"/>
     <element name="country" nillable="true" type="soapenc:string"/>
     <element name="postalcode" nillable="true" type="soapenc:string"/>
     <element name="streetName" nillable="true" type="soapenc:string"/>
     <element name="streetNumber" nillable="true" type="soapenc:string"/>
    </sequence>
   </complexType>
   <complexType name="UserInfo">
    <sequence>
     <element name="address" nillable="true" type="impl:AddressInfo"/>
     <element name="email" nillable="true" type="soapenc:string"/>
     <element name="error" nillable="true" type="soapenc:string"/>
     <element name="firstName" nillable="true" type="soapenc:string"/>
     <element name="gsm" nillable="true" type="soapenc:string"/>
     <element name="lastName" nillable="true" type="soapenc:string"/>
     <element name="middleName" nillable="true" type="soapenc:string"/>
     <element name="phone" nillable="true" type="soapenc:string"/>
     <element name="postalAddress" nillable="true" type="impl:AddressInfo"/>
     <element name="socialsecurity" nillable="true" type="soapenc:string"/>
     <element name="valid" type="xsd:boolean"/>
    </sequence>
   </complexType>
  </schema>
 </wsdl:types>

   <wsdl:message name="getUserInfoRequest">

      <wsdl:part name="in0" type="soapenc:string"/>

   </wsdl:message>

   <wsdl:message name="getUserInfoResponse">

      <wsdl:part name="getUserInfoReturn" type="impl:UserInfo"/>

   </wsdl:message>

   <wsdl:portType name="UserService">

      <wsdl:operation name="getUserInfo" parameterOrder="in0">

         <wsdl:input name="getUserInfoRequest" message="impl:getUserInfoRequest"/>

         <wsdl:output name="getUserInfoResponse" message="impl:getUserInfoResponse"/>

      </wsdl:operation>

   </wsdl:portType>

   <wsdl:binding name="UserServiceSoapBinding" type="impl:UserService">

      <wsdlsoap:binding style="rpc" transport="http://schemas.xmlsoap.org/soap/http"/>

      <wsdl:operation name="getUserInfo">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="getUserInfoRequest">

            <wsdlsoap:body use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="urn:com.idega.block.process.webservice"/>

         </wsdl:input>

         <wsdl:output name="getUserInfoResponse">

            <wsdlsoap:body use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="urn:com.idega.block.process.webservice"/>

         </wsdl:output>

      </wsdl:operation>

   </wsdl:binding>

   <wsdl:service name="UserServiceService">

      <wsdl:port name="UserService" binding="impl:UserServiceSoapBinding">

         <wsdlsoap:address location="http://localhost/services/UserService"/>

      </wsdl:port>

   </wsdl:service>

</wsdl:definitions>
