src/java/wp.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions targetNamespace="urn:com.idega.block.process.webservice" xmlns:apachesoap="http://xml.apache.org/xml-soap" xmlns:impl="urn:com.idega.block.process.webservice" xmlns:intf="urn:com.idega.block.process.webservice" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:wsdlsoap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
<!--WSDL created by Apache Axis version: 1.3
Built on Oct 05, 2005 (05:23:37 EDT)-->
 <wsdl:types>
  <schema targetNamespace="urn:com.idega.block.process.webservice" xmlns="http://www.w3.org/2001/XMLSchema">
   <import namespace="http://schemas.xmlsoap.org/soap/encoding/"/>
   <complexType name="Contact">
    <sequence>
     <element name="address" nillable="true" type="soapenc:string"/>
     <element name="case_role" nillable="true" type="soapenc:string"/>
     <element name="city" nillable="true" type="soapenc:string"/>
     <element name="department" nillable="true" type="soapenc:string"/>
     <element name="email" nillable="true" type="soapenc:string"/>
     <element name="gsm" nillable="true" type="soapenc:string"/>
     <element name="name" nillable="true" type="soapenc:string"/>
     <element name="phone" nillable="true" type="soapenc:string"/>
     <element name="postalcode" nillable="true" type="soapenc:string"/>
     <element name="socialsecurity" nillable="true" type="soapenc:string"/>
     <element name="title" nillable="true" type="soapenc:string"/>
    </sequence>
   </complexType>
   <complexType name="Organization">
    <sequence>
     <element name="id" nillable="true" type="soapenc:string"/>
     <element name="name" nillable="true" type="soapenc:string"/>
    </sequence>
   </complexType>
   <complexType name="Handler">
    <sequence>
     <element name="address" nillable="true" type="soapenc:string"/>
     <element name="case_role" nillable="true" type="soapenc:string"/>
     <element name="city" nillable="true" type="soapenc:string"/>
     <element name="contact" nillable="true" type="impl:Contact"/>
     <element name="department" nillable="true" type="soapenc:string"/>
     <element name="email" nillable="true" type="soapenc:string"/>
     <element name="gsm" nillable="true" type="soapenc:string"/>
     <element name="name" nillable="true" type="soapenc:string"/>
     <element name="organization" nillable="true" type="impl:Organization"/>
     <element name="phone" nillable="true" type="soapenc:string"/>
     <element name="postalcode" nillable="true" type="soapenc:string"/>
     <element name="socialsecurity" nillable="true" type="soapenc:string"/>
     <element name="title" nillable="true" type="soapenc:string"/>
    </sequence>
   </complexType>
   <complexType name="Item">
    <sequence>
     <element name="key" nillable="true" type="soapenc:string"/>
     <element name="value" nillable="true" type="soapenc:string"/>
    </sequence>
   </complexType>
   <complexType name="ArrayOfItem">
    <complexContent>
     <restriction base="soapenc:Array">
      <attribute ref="soapenc:arrayType" wsdl:arrayType="impl:Item[]"/>
     </restriction>
    </complexContent>
   </complexType>
   <complexType name="Owner">
    <sequence>
     <element name="address" nillable="true" type="soapenc:string"/>
     <element name="case_role" nillable="true" type="soapenc:string"/>
     <element name="city" nillable="true" type="soapenc:string"/>
     <element name="contact" nillable="true" type="impl:Contact"/>
     <element name="department" nillable="true" type="soapenc:string"/>
     <element name="email" nillable="true" type="soapenc:string"/>
     <element name="gsm" nillable="true" type="soapenc:string"/>
     <element name="name" nillable="true" type="soapenc:string"/>
     <element name="phone" nillable="true" type="soapenc:string"/>
     <element name="postalcode" nillable="true" type="soapenc:string"/>
     <element name="socialsecurity" nillable="true" type="soapenc:string"/>
     <element name="title" nillable="true" type="soapenc:string"/>
    </sequence>
   </complexType>
   <complexType name="Recipient">
    <sequence>
     <element name="organization" nillable="true" type="impl:Organization"/>
    </sequence>
   </complexType>
   <complexType name="CaseEntry">
    <sequence>
     <element name="body" nillable="true" type="soapenc:string"/>
     <element name="code" nillable="true" type="soapenc:string"/>
     <element name="created" nillable="true" type="soapenc:string"/>
     <element name="externalCase_id" nillable="true" type="soapenc:string"/>
     <element name="handler" nillable="true" type="impl:Handler"/>
     <element name="id" nillable="true" type="soapenc:string"/>
     <element name="metadata" nillable="true" type="impl:ArrayOfItem"/>
     <element name="modified" nillable="true" type="soapenc:string"/>
     <element name="owner" nillable="true" type="impl:Owner"/>
     <element name="recipient" nillable="true" type="impl:Recipient"/>
     <element name="status" nillable="true" type="soapenc:string"/>
     <element name="subject" nillable="true" type="soapenc:string"/>
    </sequence>
   </complexType>
   <complexType abstract="true" name="CaseResult">
    <sequence>
     <element name="id" nillable="true" type="soapenc:string"/>
     <element name="operation" nillable="true" type="soapenc:string"/>
    </sequence>
   </complexType>
  </schema>
 </wsdl:types>

   <wsdl:message name="createOrUpdateCaseRequest">

      <wsdl:part name="in0" type="impl:CaseEntry"/>

   </wsdl:message>

   <wsdl:message name="createOrUpdateCaseResponse">

      <wsdl:part name="createOrUpdateCaseReturn" type="impl:CaseResult"/>

   </wsdl:message>

   <wsdl:portType name="CaseService">

      <wsdl:operation name="createOrUpdateCase" parameterOrder="in0">

         <wsdl:input message="impl:createOrUpdateCaseRequest" name="createOrUpdateCaseRequest"/>

         <wsdl:output message="impl:createOrUpdateCaseResponse" name="createOrUpdateCaseResponse"/>

      </wsdl:operation>

   </wsdl:portType>

   <wsdl:binding name="CaseServiceSoapBinding" type="impl:CaseService">

      <wsdlsoap:binding style="rpc" transport="http://schemas.xmlsoap.org/soap/http"/>

      <wsdl:operation name="createOrUpdateCase">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="createOrUpdateCaseRequest">

            <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="urn:com.idega.block.process.webservice" use="encoded"/>

         </wsdl:input>

         <wsdl:output name="createOrUpdateCaseResponse">

            <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="urn:com.idega.block.process.webservice" use="encoded"/>

         </wsdl:output>

      </wsdl:operation>

   </wsdl:binding>

   <wsdl:service name="CaseServiceService">

      <wsdl:port binding="impl:CaseServiceSoapBinding" name="CaseService">

         <wsdlsoap:address location="http://azskjalfandi.skjalfandi.is/services/CaseService"/>

      </wsdl:port>

   </wsdl:service>

</wsdl:definitions>
